* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transition {
    width: 100px;
    height: 100px;
    transition: transform 2s 1s;
    background-color: aqua;
}

.transition:hover {
    transform:  rotate(180deg);
}